[2021-08-16 21:52] JoseConseco opened #2 "Auto paste on entry select"
Hi neoclip is great  - nvim was missing yank history with  menu.
One problem in have
 -  open  telescope neoclip - press `ESC` - we go into prompt normal mode in telescope - now j,k keys can be used to navigate yank list - but pressing enter wont override "  register  (neoclip works ok using arrows keys though in the prompt insert mode).

It would be cool if we had option to automatically paste se

[2021-08-16 22:18] AckslD commented on #2
Hi @JoseConseco! Thanks for reporting and the suggestions! I'll think I know why enter doesn't work in normal mode, will try to fix that.

I agree that adding a keybind (configurable) that instead just pastes instead of replacing the register would be nice to have :+1:

I'll have to look into the `initial_mode = 'normal'` thing. What is intended to do?

[2021-08-16 22:19] AckslD opened #3 "Add possibility to preview multiline yanks"

[2021-08-17 06:23] fdschmidt93 commented on #2
There currently is somewhat unexpected behavior with `actions.insert_symbol`, see https://github.com/nvim-telescope/telescope.nvim/issues/1072. Its fix https://github.com/nvim-telescope/telescope.nvim/pull/1117 only needs finishing touches, then what you want is supported supported upstream out-of-the-box.

It's meant to start the telescope picker in normal mode. I think @JoseConseco uses it to na

[2021-08-17 20:52] doums opened #4 "don't work with my init.lua"
Hi,

I don't know who is the culprit, but when I try to run `:Telescope neoclip` nothing happen, no telescope window opens.

Here is my [init.lua](https://github.com/doums/dotfiles/blob/master/.config/nvim/init.lua).

I just added
[code]
to my init.lua.

Update: It works when I use `:lua require('telescope').extensions.neoclip.default()`. Maybe there is a problem when the plugin manager is not pac

[2021-08-17 21:33] AckslD commented on #4
Hi @doums!

Hmm strange, I never used paq so not sure how it loads plugins. Does it lazy load?

Does it work if you first do
[code]
?

[2021-08-18 12:53] bushblade opened #5 "No results show up"
Hi I have added this plugin as per the README and have in my Telescope settings
`telescope.load_extension("neoclip")`

But I don't see any results in :Telescope neoclip
![Screenshot_2021-08-18_13-17-01](https://user-images.githubusercontent.com/21976188/129901347-b1dcbe63-1dd2-4caa-a50d-bef42c43ccc3.png)

I do have yanked text in my registers
![Screenshot_2021-08-18_13-49-18](https://user-images.g

[2021-08-18 13:40] stephengolub commented on #4
Piling on for more data on this one. I'm using `vim-plug` wrapped inside some lua files. It doesn't load there either, I have to do your `load_extension` example and then it's available (through both the `:lua ...` and `:Telescope ...` commands

[2021-08-18 14:25] AckslD commented on #4
Thanks for letting me know @stephengolub! Do you think adding something in the README that in some case one needs to call `load_extension` is enough? We could also expose another function from `neoclip` which does that but not sure it gives anything. I would like to avoid calling the `load_extension` in `setup` to avoid setting up all of `telescope` on startup. I'd rather lazy load it when needed.

[2021-08-18 14:33] stephengolub commented on #4
Yea, I'd add it to your `README`. I also use [ThePrimeagen/git-worktree.nvim](https://github.com/ThePrimeagen/git-worktree.nvim) and there's a section in there about integrating it with Telescope.

So maybe add it to your **Tips** section or create a **Troubleshooting** section?

[2021-08-18 15:55] bushblade commented on #5
Hi thanks for the reply
That outputs an empty table `{}`
And yes I can confirm...
![Screenshot_2021-08-18_16-54-52](https://user-images.githubusercontent.com/21976188/129930979-1577b778-0e00-48aa-8cc5-9ce4cee5c0fe.png)

[2021-08-18 18:05] doums commented on #4
Hi @AckslD,

I confirm it's work if I load the extension first
[code]

[2021-08-18 18:19] AckslD commented on #5
I see, I'll try to see why it doesn't work when you synchronise your system clipboard with vim with the `unnamedplus` option.

That being said, if you do synchronise with system clipboard, you could I guess just as well use something like `clipmenu`? Although I'm of course very happy that you want to use neoclip, but maybe that's an alternative at least until I fixed this :)

[2021-08-18 18:37] bushblade commented on #5
Even if I comment out `unamedplus` option and restart nvim, I still see no results.

[2021-08-18 18:44] AckslD commented on #5
Hmm, but you do call `require('neoclip').setup()` on startup?

[2021-08-18 18:48] bushblade commented on #5
Yes I have in my load-plugins.lua
[code]

[2021-08-18 20:12] AckslD commented on #5
What does
[code]
give you?

[2021-08-18 20:23] bushblade commented on #5
![Screenshot_2021-08-18_21-23-02](https://user-images.githubusercontent.com/21976188/129967012-dcaffa68-ab79-4c3c-b5e2-64e14caa3ff4.png)

[2021-08-18 20:24] AckslD commented on #5
Hmm, so it's not setup properly, should have one for neoclip:
[code]

Do you change these autocommands in your config?

[2021-08-18 20:26] bushblade commented on #5
I have this in my config
[code]
But just tried commenting that out and reloading, no change.

[2021-08-18 20:28] bushblade commented on #5
(Here is my config)[https://github.com/bushblade/nvim.git] if that helps.

[2021-08-18 20:30] AckslD commented on #5
This is very strange since the `setup` is just:
[code]
which calls
[code]

[2021-08-18 20:53] bushblade commented on #5
I just tried a minimal config with only telescope and neoclip, no options or other settings and still see the same empty results after doing a few yanks.
![Screenshot_2021-08-18_21-53-28](https://user-images.githubusercontent.com/21976188/129970737-87597cc1-e89e-49ae-8029-b0219ac92e10.png)

[2021-08-18 21:11] AckslD commented on #5
Very strange! I'm mostly out of ideas for now... Could you maybe insert some print statements in the 'neoclip' code setting up the autocommand to see if it's actually executed?

[2021-08-18 21:16] bushblade commented on #5
Ok so I edited neoclip.lua with the following
[code]
Then reloaded nvim and yanked a few times, I see no print .

[2021-08-18 21:18] bushblade commented on #5
Sorry realised that was the wrong function so then did
[code]
But nothing printed on a subsequent reload and yank.

[2021-08-18 21:37] AckslD commented on #5
Also not under
[code]
?

In that case it seems very strange that you call `setup` in your config but don't see the print on the first line of that function

[2021-08-18 21:40] bushblade commented on #5
It does actually flash up momentarily as nvim starts then disappears.

[2021-08-18 21:45] bushblade commented on #5
Ok I got it working by calling setup in my telescope-settings.lua
![Screenshot_2021-08-18_22-44-23](https://user-images.githubusercontent.com/21976188/129976319-89407c97-af83-431b-93d4-b79d8c61a3bd.png)
So using as per the README..
[code]
With a config function doesn't actually work?

[2021-08-18 21:49] bushblade commented on #5
However when I hit enter on a result it takes me to an empty buffer?

[2021-08-18 22:00] AckslD commented on #5
For me it works with a config function, see my config here:
https://gitlab.com/AckslD/config/-/blob/master/nvim/lua/plugins.lua#L1726

If you figure something more out I'd be happy to hear it but not sure at this point why it doesn't work for you :/

[2021-08-18 22:12] AckslD commented on #5
Btw did you compile packer after adding the config function?

[2021-08-19 00:23] kdurant opened #6 "How to select yank from history to current clipboard?"

[2021-08-19 06:40] AckslD commented on #6
Hi @kdurant! What do you mean by "current clipboard"? Ie is this your system clipboard?

[2021-08-19 07:15] bushblade commented on #5
Hi, no I did not :PackerCompile, does that make a difference?

[2021-08-19 07:30] bushblade commented on #5
Ok so I can confirm that all works as it should after I run :PackerCompile
I guess I've learned something, thanks for taking the time to respond and the extension, I'll close.

[2021-08-19 07:30] #5 closed

[2021-08-19 07:34] bushblade commented on #5
Ah I may have spoken too soon, I'm still taken to a blank register after hitting enter on a result.
Going back to the last buffer I was in and hitting p doesn't put the selected result but instead the last thing I yanked.
Should I open a new issue?

[2021-08-19 09:31] AckslD commented on #5
@bushblade Yeah, would be great if you open a new issue for that

[2021-08-19 16:30] #4 closed

[2021-08-20 00:25] kdurant commented on #6
@AckslD

"current clipboard" is `**` or `"0"`.

[2021-08-20 06:01] AckslD commented on #6
Install this plugin and do either
[code]
or
[code]
:)

[2021-08-20 16:06] joshuarubin commented on #6
I'm having an issue like this too, it might be the same, but the OP didn't specify much.
I have `set clipboard=unnamedplus,unnamed` which means that by default puts come from the `+` and/or `*` registers and not from `"`. As a result, while this plugin does in fact populate `"`, it does not update the value that will be used for the default put operation.
I've tried to run `:Telescope neoclip +` a

[2021-08-20 21:53] JoseConseco commented on #6
I think something broke (maybe after updating telescope).  I'm also unable to select  item from neoclip list with `ret` key.  Instead of selecting entry and putting it into " register, now neoclip just open new buffer on `ret` key when selecting yank item...

[2021-08-20 21:56] JoseConseco commented on #2
latest telescope update fixed running neoclip in normal mode - the yank list is automatically filled (without need to be in insert mode). I guess we have to wait for inser_symbol fix then for  auto-paste selected item to work?

[2021-08-21 00:20] AckslD commented on #6
Thanks for reporting @joshuarubin @JoseConseco! I'll look into this hopefully soon but might be little time cause I'm travelling atm.

Good news is that I added preview of yanks in telescope and ability to paste an entry directly without populating a register. Will push that when I get the chance :)

[2021-08-22 11:53] AckslD commented on #2
@JoseConseco I added support to paste directly in #9. Let me know it that works for you. It doesn't use telescope (`insert_symbol`) for this yet but we should probably move over to that once it's ready.

[2021-08-22 15:24] JoseConseco commented on #2
I checked out 'paste-directly' branch but it does not look  auto-paste work.
https://user-images.githubusercontent.com/13521338/130360689-af98ab0f-8736-4faa-b949-93947063c93c.mp4

I selected yank and pressed `enter` to paste.

[2021-08-23 01:14] AckslD commented on #2
@JoseConseco I'm just so used to clipmenu which has this behaviour but paste directly does also make a lot of sense. Anyway you can configure this to be the what happens with `ret` or any other key through the `setup` funcion. See README for details or let me know if you have questions.

[2021-08-23 01:17] #3 closed

[2021-08-23 01:20] #2 closed

[2021-08-23 01:21] #6 closed

[2021-08-23 10:25] JoseConseco opened #12 "setup() function to neoclip gives error"
I have this error:
![image](https://user-images.githubusercontent.com/13521338/130431997-262430bd-3f96-498e-b9a3-6841a6fe1915.png)
When I use any config inside setup() function  (empty or not -  setup()  always gives above message)

Only using simple config (without setup ) works
[code]
I use lost of other plugins with setup() configs and they work ok.

[2021-08-23 10:51] AckslD commented on #12
Thanks for reporting @JoseConseco

I think it should be `require('neoclip')`?

(on my phone atm, but can check in a little bit if that doesn't work)

[2021-08-23 11:05] JoseConseco commented on #12
my bad. I totally forgot I had my config in separate file named 'nv-neoclip'

[2021-08-23 11:05] #12 closed

[2021-08-23 11:17] f3fora opened #13 "Using clipboard as default register."
On linux, clipboard is usually set as
[code]
to handle also the system clipboard.

Thus, the default register becomes `+` or `*`, which eventually are updated with `"` contents.
However this plugin stores the contents  only in register `"` and they cannot be accessed by default register, because the registers `*` and `+`  are not updated.

Moreover `:Telescope neoclip *` or `+` fails with `telesco

[2021-08-23 11:36] AckslD commented on #12
No problem, glad to hear it's working now :)

[2021-08-23 11:42] AckslD commented on #13
Hi @f3fora, after #11 you can set what register you want by default by for example:
[code]
(for more details see README)

If you want to call these explicitly without using the default you should use `Telescope neoclip plus` or `Telescope neoclip star` (I forgot to document that in the README but will add it).

Let me know if it doesn't work for you.

[2021-08-23 13:25] f3fora commented on #13
It works.
However, copying into multiple registers at once (e.g. `", *, +`) would be a great feature. One should be able to use, for example
[code]
or `Telescope neoclip unnamed a`

[2021-08-23 14:05] AckslD commented on #13
Good idea, I'll open a new issue for that :)

[2021-08-23 14:52] JoseConseco opened #14 "Error when reaching neoclip history max site"
I changed history size to 10 elements. When I yank 11th element i get:
![image](https://user-images.githubusercontent.com/13521338/130468169-d67295ab-855e-412c-9d96-8f6de32c6955.png)

[2021-08-23 15:39] AckslD commented on #13
@f3fora thinking about this more I'm not sure I fully understand the usecase for putting something in multiple registers. Could you explain how you would like to use this?

[2021-08-23 15:40] AckslD commented on #14
Thanks for reporting @JoseConseco!

I'll check this! Btw, I'm also working on adding a test framework so will add this as a testcase 👍

[2021-08-23 18:04] f3fora commented on #13
On Linux `*` and  `+` are different registers, respectively middle-mouse button paste and Ctrl-V paste. One usually wants to have a common behavior.

See `:help clipboard-x11` and [this](https://unix.stackexchange.com/questions/196274/copy-to-both-x11-clipboards-from-vim).

Moreover, with `vim.opt.clipboard = {'unnamed', 'unnamedplus'}` set, a yank action save the text in `"`, `+` and `*`.

This i

[2021-08-23 18:59] joshuarubin commented on #13
using `:Telescope neoclip plus` works for me, but setting `default_register` is not working.

I'd also like to 👍🏻 the ability to set multiple registers.

[2021-08-23 21:58] AckslD commented on #14
@JoseConseco should be fixed by #15, let me know if it works for you

[2021-08-23 22:04] AckslD commented on #13
Thanks for explaining! It makes sense to me :+1: I would have to figure out how to allow for variable number of arguments to the telescope call.

Seems only ones with a keyword are passed along to the picker. Ie if I do:
[code]
`opts` passed to the picker does not contain `b` but if I do
[code]
then `opts` has the key-value pair `extra,b`.

Anyone of you know how to do this? :)

[2021-08-24 06:18] rmagatti opened #16 "Yank persistence across Neovim sessions."
Hey @AckslD first off thanks for the great plugin, looks like I found my `coc-yank` alternative!

I noticed that yanks are not kept between Neovim sessions.
i.e if I yank something, save my current neovim session, close neovim, open neovim, reload the session and start up neoclip, the things I had previously yanked before closing are not visible in the list anymore.

Non-empty registers get saved

[2021-08-24 06:54] f3fora commented on #13
You can do
[code]
And then split the string with comma.

[2021-08-24 10:16] #14 closed

[2021-08-24 10:18] AckslD commented on #13
That could work, although I suspect it might have to be
[code]
Since the first is the "command"

[2021-08-24 10:25] AckslD commented on #16
Hi @rmagatti! Thanks for the suggestion :)

I think being able to save the history (optionally) between sessions would be great. I think we should actually save the whole session stored in the neoclip storage and not only read from what's in the ShaDa file.

@fdschmidt93 suggested some time ago that for example https://github.com/tami5/sql.nvim could be used for this. What do you think?

I'm curre

[2021-08-24 10:28] AckslD opened #17 "Support replacing multiple registers"
In some situations it's useful to replace multiple registers (such as `"`, `*` and `+`). This could be both explicitly and for the `default_register` setting.

See #13 for further discussion.

[2021-08-24 10:29] #13 closed

[2021-08-24 12:22] AckslD commented on #17
The following can be a useful reference for handling arguments to the vimscript telescope command:
https://github.com/nvim-telescope/telescope.nvim/pull/1075#issuecomment-893000122

[2021-08-25 06:33] rmagatti commented on #16
Interesting, I was thinking something as simple as reading from the registers and populating neoclip's storage with data from it at load time would be pretty acceptable as a starting point at least.

Actually using a separate persistence mechanism sounds cool but also a bit like overkill? At least considering that the contents one would want are likely already in the registers after Neovim's loadi

[2021-09-02 05:43] kdurant opened #18 "Reading history when neovim restart"
When I use 'Telescope neoclip` after neovim restart, There is nothing in Telescope windows.

[2021-09-02 17:42] AckslD commented on #18
Hi @kdurant! I think this might be a duplicate of #16?

[2021-09-03 14:57] lcrockett opened #19 "[Feature request] OSC52 support"
It would be great if `nvim-neoclip` would support OSC52 based copy support. This allows for a clipboard entry to be copied to the system's clipboard through SSH and makes it much easier to copy / paste across multiple machines via SSH at the same time as it uses the host's system clipboard.

I currently use [ojroques/vimoscyank](https://github.com/ojroques/vim-oscyank) to enable OSC52 support for

[2021-09-03 18:22] AckslD commented on #16
@rmagatti Just FYI I started trying out how this might work in #20 :)

[2021-09-03 18:27] AckslD commented on #19
Hi @lcrockett! Thanks for the suggestion!

I haven't used vimoscyank myself but it seems like the recommended use is to setup an autocommand for the `TextYankPost` event. The same event is also used by neoclip to store anything that gets yanked. However when one selects an entry from the history using telescope the register is set using `setreg` but this does not trigger `TextYankPost`. This is in

[2021-09-04 07:15] ayoubelmhamdi opened #21 "how set cursore at end of paste"
[code]
when using `CTRL` `p` cursor  move to the start of `TextPasted`, can set the cursor to go to end of `TextPasted`
something like `gvo`

[2021-09-05 19:54] AckslD commented on #21
Hi @ayoubelmhamdi! Do you mean in the same way as `gp`?

[2021-09-06 08:07] ayoubelmhamdi commented on #21
you are using  `gp`, so: I want `gP`

[2021-09-06 15:50] AckslD commented on #21
@ayoubelmhamdi Actually `p` is currently used (and `P` which is by default bound to `<c-k>` in insert mode and `P` in normal) as you can see [here](https://github.com/AckslD/nvim-neoclip.lua/blob/920928e5aed5b1eb9c220ff3ce281d94da0fc1af/lua/telescope/_extensions/neoclip.lua#L101). Let me know if that clarifies things for you since I'm still a bit unsure what you're exactly asking for :)

[2021-09-08 21:26] AckslD commented on #13
@f3fora @joshuarubin I added support for multiple registers in #23, feel free to check it out and let me know if it works for you

[2021-09-12 21:08] lcrockett commented on #19
A custom function that can be triggered during selection of an entry sounds like a good option that doesn't change the current workflow as I assumed it would be opt-in ? This way you could leave the current `setreg` functionality intact which seems to be the least intrusive option.

How are you envisioning this custom function trigger ? A standard Lua function that can be specified post-selection

[2021-09-12 21:49] #17 closed

[2021-09-14 11:57] AckslD commented on #19
@lcrockett I made an attempt to add this in #24, let me know if it works for you. To call the `oscyank` command in your custom action you can for example do:
[code]

[2021-09-14 13:25] AckslD commented on #18
Closing due to inactivity, feel free to open again if you still have an issue which is not covered by #16

[2021-09-14 13:25] #18 closed

[2021-09-14 13:25] #21 closed

[2021-09-16 01:42] NoahRR opened #25 ".vim support"
LOVE the idea of this plugin. Unfortunately, I can't fully convert to .lua just yet. Is there any way to use this in a .vim neovim setup?

Apologies if this is the wrong place to ask this -- but this is an issue I'm having. Any help would be appreciated!

[2021-09-16 10:29] AckslD commented on #25
Hi @NoahRR!

You can wrap the setup of neoclip in:
[code]

[2021-09-25 15:33] AckslD commented on #25
Closing this now, feel free to open a new issue if you still have issues :)

[2021-09-25 15:33] #25 closed

[2021-09-25 15:49] NoahRR commented on #25
Hey @AckslD, so sorry for not responding!! Been a busy couple weeks.

I did try wrapping it like mentioned above before, but I'll give it another go when I get a free second. I'll checkout that link you sent as well. Appreciate the reponse!

[2021-09-25 17:16] AckslD commented on #25
No problem @NoahRR :) Hope you'll get it working

[2021-09-26 11:20] AckslD commented on #16
Hi @rmagatti @kdurant I now finished implementing the persistent history using `sqlite.lua` in #20. Feel free to try it out and let me know if you have any issues.

[2021-09-26 23:34] lcrockett commented on #19
Cheers on the change. I've tested it but am unable to use it successfully so far. When hitting `<space>` I get a error, see screenshot below.

![image](https://user-images.githubusercontent.com/58056722/134828037-444d6c1f-44b1-45ae-9cc3-8538dc0cec2f.jpeg)

Also see configuration here below:

[code]

[2021-09-27 06:35] AckslD commented on #19
@lcrockett Ah I needs to be
[code]
Ie with `ipairs` when looping :)

[2021-09-30 02:32] rmagatti commented on #16
Will do, thanks for working on this!

[2021-10-03 13:09] AckslD commented on #16
Just merged #20 so closing this, let me know if you have any issues

[2021-10-03 13:09] #16 closed

[2021-10-03 13:12] #19 closed

[2021-10-03 13:13] AckslD commented on #19
Closing this since #24 is now merged, let me know if you have issues

[2021-10-04 21:23] lcrockett commented on #19
Including `ipairs` when looping did the trick, cheers for the change and merge !

[2021-10-04 22:59] AckslD commented on #19
Great! :)

[2021-10-06 04:44] becarepsol opened #26 "First yanked element is displayed twice on Telescope picker"
When using Telescope to pick yank registers the first element that I yanked is
displayed twice, as if I had yanked twice.

Subsequent yanked elements behave correctly, meaning that they don't get
duplicated

This is my current config:

[code]

![neoclip](https://user-images.githubusercontent.com/90428811/136131327-dc034220-57a2-4a16-8461-d46e68eac80c.png)

Thanks

[2021-10-06 10:38] AckslD commented on #26
Hi @becarepsol! Thanks for reporting this.

It does not happen for me, do you perhaps have some local config interacting with `TextYankPost`?

Would you mind for example adding a print statement [here](https://github.com/AckslD/nvim-neoclip.lua/blob/ecf149d4baab347a101d427c3d472730504182e8/lua/neoclip/handlers.lua#L30) to see if for some reason the handler of the yank is called twice or if there i

[2021-10-06 15:11] becarepsol commented on #26
Hi @AckslD Thanks for the reply,

The only other config that interacts with `TextYankPost` is this helper
function to easily define autogroups

[code]

That then gets call to setup `vim.highlight.on_yank()`

[code]

And yes, after removing `event = 'TextYankPost'` in the `packer` config it
works as expected, no first yank duplication

Finally I just want to further clarify that this unexpected beh

[2021-10-06 20:09] AckslD commented on #26
@becarepsol This seems to be a bug in packer which I could reproduce, I opened a small PR https://github.com/wbthomason/packer.nvim/pull/636 which I think should fix this.

[2021-11-12 11:01] sphynx79 opened #30 "Possibility to delete one item"
is there one command in telescope windows to delete one registry entry?

Thanks

[2021-11-12 16:31] AckslD commented on #30
Hi @sphynx79! That's sounds like it would be a usable functionality :) Could you describe a bit more your usecase, for example would you like to keep the telescope window open after deleting the entry? If the window can close after then it will be quite easy in the current framework but if it should stay open such that you can keep deleting entries then it would require a bit of refactoring of the

[2021-11-14 10:56] mystilleef opened #31 "Option to remove duplicates and whitespaces"
Is it possible to provide convenience options to remove duplicates and whitespaces? I'm sure the `filter` option can be used for this. However, these convenience options are for lazy users, like me. 😁

[2021-11-14 11:34] AckslD commented on #31
Hi @mystilleef! I think that would be nice. By whitespace do you mean indentation?

Btw, if you want this functionality sooner, PRs are most welcome :)

[2021-11-14 11:45] mystilleef commented on #31
@AckslD Correct. Clipboard items that contain only spaces, tabs, newlines, or empty lines should be ignored. If I wasn't so busy, I'd look at making a PR.

[2021-11-14 11:48] AckslD commented on #31
Ah yeah that makes sense! But you don't mean dedenting indented text?

[2021-11-14 11:54] mystilleef commented on #31
I'm not sure if that's of much benefit. Besides, I think most users would prefer you don't manipulate their clipboard items.

So, I think it's best to leave indented texts alone.

I just don't like seeing a bunch of empty clipboard items in the `Telescope` results list taking up valuable space.

[2021-11-26 21:23] timtyrrell opened #32 "Error inserting into sqlite DB"
I have searched this and the `tami5/sqlite.lua` repo for issues and didn't see anything. When I close neovim or run `lua require('neoclip.storage').on_exit()` in the command line I get the error below:

I did delete the `databases` folder and saw it recreated but I get the same error above.

Any idea what I could be doing wrong or have misconfigured?

version: `NVIM v0.6.0-dev+624-ga2e5c2f7c` but

[2021-11-27 17:30] AckslD commented on #32
Hi @timtyrrell, thanks for reporting! I haven't seen this error. Could you check that you have the latest version of both plugins and also let me know what version of sqlite you have (ie the binary, not the plugin).

I haven't upgraded nvim or sqlite in a week or so but will do that later today to see if anything changed lately.

[2021-11-28 01:20] timtyrrell commented on #32
All my vim plugins are the latest, as I update them all daily. Let me know if I could provide anything else, thanks.

I wonder if my use of `vim-plug` is missing something 🤷

[2021-11-28 02:41] rickprice commented on #32
I'm having a problem where things aren't saving as well, although I haven't
debugged it yet. I'm wondering if I have sqlite installed. Could this be
the issue you are having as well?

I'm on Arch Linux with all my plugins updated as well, I'm also using the
same package manager on Neovim.

Frederick

On Sat., Nov. 27, 2021, 20:20 Tim Tyrrell, ***@***.***> wrote:

[2021-11-28 22:07] AckslD commented on #32
@timtyrrell I'm currently on `sqlite3` version `3.36.0`, I wonder if that makes a difference. Maybe @tami5 knows something about this?

@rickprice Yes, you need `sqlite3` installed so make sure that you can do eg `sqlite3 --version` in your terminal.

[2021-11-28 22:08] AckslD commented on #32
Btw @timtyrrell does this also happen if you first yank something before closing neovim? I wonder if there is an issue when the current history is empty.

[2021-11-28 22:36] tami5 commented on #32
hmmm I did quick test, but haven't got any errors, though, restarting neovim result in empty history, am I even using persistant?.

[code]

From the given error it seems that maybe neoclip sent nil values to sqlite interface? damn it sqlite.lua doesn't have logging 😭 .

@AckslD can you confirm if it works on your machine, tested on m1, NVIM v0.6.0-dev+1967-`g427bac687`

[2021-11-28 22:50] AckslD commented on #32
Thanks for checking @tami5, it does indeed work for me without errors, I'm on `v0.6.0-dev+642-g07223fae54`.

[2021-11-28 23:12] timtyrrell commented on #32
@AckslD Good call, if I have nothing yanked since opening neovim, that is when I get the error. If I yank, I get no error when running `lua require('neoclip.storage').on_exit()` or close neovim.

Although, as @tami5 mentioned, with a new session I have no yank history, so if I don't yank and close quickly or run the above command with a new neovim instance, I see the error. 🤔

[2021-11-28 23:46] timtyrrell commented on #32
Last comment for now: I have been querying the DB and do see data in there but something is deleting it but I don't see the pattern yet. I generally have 2 or more neovim instances running, in case that could be helpful info.

[2021-12-01 15:39] AckslD commented on #32
@timtyrrell Could you see what `:lua print(vim.inspect(require('neoclip.storage').get()))` gives before you close the instance?

[2021-12-02 16:41] timtyrrell commented on #32
@AckslD sorry for the delay, on initial load this is returned `{}`

If I yank and then run it, example:
[code]

[2021-12-03 01:42] AckslD commented on #32
Thanks @timtyrrell, so it's always empty for you when opening a new session?

[2021-12-03 03:08] timtyrrell commented on #32
@AckslD As far as I can tell, yes. Is there a way to see if the variables are getting set? I can shove in logging code, if needed. Again, I wonder if it is the`vim-plug` way I am wiring it up.

[2021-12-03 14:42] eemax opened #33 "Persistant history with vim-plug and init.vim"
What is needed to load sqlite with vim-plug?

My init.vim looks like this:
`lua << END
require'neoclip'.setup{
enable_persistant_history = true
}
require'telescope'.load_extension('neoclip')
END
`
My plugins.vim looks like this:
`Plug 'AckslD/nvim-neoclip.lua'
Plug 'tami5/sqlite.lua'`

I tried doing:
`require'neoclip'.load_extension('tami5/sqlite.lua')`
and
`require'neoclip'.load_extension('sqlite

[2021-12-04 17:03] AckslD commented on #33
Hi @eemax! I don't use vim-plug but I don't think you should have to load sqlite manually at all. If you don't what behaviour are you seeing?

[2021-12-04 17:08] AckslD commented on #32
Maybe to make sure, would you mind trying with the following `packer` setup?

[code]

[2021-12-04 17:33] eemax commented on #33
Persistent history just doesn't do anything.
It seems like the plugins don't communicate with each other. You mention the following for packer:
[code]
The equivalent for vim-plug I'm not really sure how to do.

[2021-12-04 17:47] timtyrrell commented on #32
@AckslD Using basically the same config as you have above (pasted below) when I yanked and then closed nvim and then reopened, the data did persist. So looks like the vim-plug config I am using is the culprit here.

Feel free to close this issue unless you want to figure out how to set this up in vim-plug, I can also try to do it myself. Possibly add to the README that vim-plug is not supported if

[2021-12-05 02:05] AckslD commented on #33
@eemax maybe this is the same as #32?

[2021-12-05 02:09] AckslD commented on #32
@timtyrrell no problem and thanks for trying it out! I probably won't debug at this point at least what goes wrong with vim-plug since I don't know much how to use it but I will for sure add a note in the README.

If you figure out why it doesn't work it would be great to know it :)

[2021-12-05 09:31] eemax commented on #33
@AckslD that is indeed the issue. Seems like it is still unresolved as a vim-plug issue.

[2021-12-05 16:03] AckslD commented on #33
@eemax I'll close this and we can keep the discussion on #32. If you have any ideas what might be breaking with vim-plug feel free to add it there :)

[2021-12-05 17:44] #33 closed

[2021-12-05 17:46] AckslD commented on #32
I can't really understand what might be causing this, some thoughts:

1. @timtyrrell do you know if vim-plug does any kind of lazy loading?
1. @timtyrrell do you use sqlite in any other part of your setup? And if so, is that working as expected?
1. @tami5 have you had any other issues with sqlite and vim-plug?

[2021-12-05 22:07] timtyrrell commented on #32
@AckslD

1. vim-plug only lazy loads if specified in the `Plug` command, which I am not doing
2. I am not using sqlite elsewhere, but I can rig in https://github.com/nvim-telescope/telescope-frecency.nvim if we find it helpful

I did a little more testing and was able to discover something. If I comment out the `require("telescope").load_extension("neoclip")` line, then the data persists when open

[2021-12-06 02:33] AckslD commented on #32
Good find @timtyrrell! Does it make a difference if you load the extension after calling the setup for neoclip? If not, does it make a difference if you call it after the first yank?

[2021-12-06 02:57] timtyrrell commented on #32
- When I moved the `load_extension` call after the neoclip setup, then it had no effect: it didn't wire it up with the telescope picker but also didn't blow away the yank history.
- When I run `:lua require('telescope').load_extension('neoclip')`, before or after a yank, it seems to do nothing but then Telescope stops working`E492: Not an editor command: Telescope`. The yank data is still persiste

[2021-12-18 02:03] 1096015776 opened #34 "hi, i have some trouble,cloud you help me"
i want to use <c-n> to select next item and <c-p> to select preve item,i read these document, I could not found some config to set the map,clould you help me, please

[2021-12-18 06:50] AckslD commented on #34
Hi @1096015776, are you asking how to navigate between rows in the telescope picker? If so, then you should be able to do this with `j`/`k` (normal mode) or arrow keys (normal and insert mode).

[2021-12-18 11:09] 1096015776 commented on #34
thanks for your answer ，i just wan ro config map some key to change because some plugin i use c-p to select prev item and c-n to select next item，if it is different for others，i feel sad，because i like the plugin

[2021-12-18 15:11] AckslD commented on #34
These key mappings are the default ones from telescope so you'd change them in your telescope config. For how to do this see either `:help telescope.defaults.mappings` or https://github.com/nvim-telescope/telescope.nvim#default-mappings.

[2021-12-19 09:53] AckslD commented on #32
@timtyrrell I added a note about this and README so closing this now. Let me know if you have other issues :)

[2021-12-19 09:53] #32 closed

[2021-12-20 18:20] xeluxee commented on #34
I was experiencing the same issue. Solved with this config
[code]

[2021-12-20 19:27] AckslD commented on #34
Oh now I understand, thanks for clarifying @xeluxee :)

[2021-12-23 12:37] 1096015776 commented on #34
thanks for your answer,it let me feel better when i coding.

[2021-12-23 17:39] AckslD commented on #34
I'm glad to hear @1096015776 :)

[2021-12-23 17:41] #34 closed

[2022-01-01 18:15] darkangel-ua opened #37 "Modes behavior"
Hi!

First of all - thanks for such a great plugin!
I have some issues/misunderstandings:
* when pasting in normal mode cursor doesn't move to the end of the pasted content like happens with regular 'p'
* when trying to paste from telescope variant in insert mode I'm loosing insert mode after pasting and cursor appears somewhere in the middle of pasted content
* when trying to paste from telescope

[2022-01-02 13:53] AckslD commented on #37
Hi @darkangel-ua! Thanks for reporting this. When trying it out myself it seems when pasting from telescopes insert mode the cursor ends up one character before the end but when pasting from normal mode it ends up at the end (only for single-line yanks). Is this the same as you experience? When pasting starting from a visual selection I can indeed see that it is lost.

I'm not really sure how one

[2022-01-05 15:01] ZacharyRizer opened #38 "Multiple Register support - specifically clipboard - not loading in Telescope Preview"
Hi there,

I can't seem to get this piece of config to function as I would expect - `default_register = {'"', '+', '*'}`.  I was expecting this to populate :Telescope neoclip with everything in those three registers, but I don't see anything form the '+' or '*' registers. Here is my neoclip setup in my init.nvim:

![Screen Shot 2022-01-05 at 9 57 37 AM](https://user-images.githubusercontent.com/51

[2022-01-05 17:13] AckslD commented on #38
Hi @ZacharyRizer! `neoclip` only listens to the `TextYankPost` event for things that are yanked, it doesn't read directly from the registers and specifically doesn't check if eg `"+` changed if you copied something outside neovim. So at least at the moment I think `neoclip` doesn't do what you were hoping, unless I might have misunderstood what you were trying to do.

[2022-01-05 17:19] ZacharyRizer commented on #38
@AckslD no you understood perfectly and thank you for the response. If it is possible down the line to have things that were copied outside of Neovim (to the + and * registers) shown in the :Telescope neoclip buffer that woudl be amazing.

[2022-01-05 19:01] AckslD commented on #38
@ZacharyRizer That would probably be nice indeed but I think this would maybe require some change to core neovim to for example have events triggered for these things. Cause I would like to avoid having something in `neoclip` continuously checking for changes and rather have it react to something.

[2022-01-05 19:01] #38 closed

[2022-01-05 19:25] ZacharyRizer commented on #38
@AckslD thanks again for the response. I am not sure how[ vim-yankstack ](https://github.com/maxbrunsfeld/vim-yankstack) functions, but in that plugin the external clipboard is part of the yanks available to paste inside of neovim. You can see in this screen shot - the first is what I yanked from my browser, and the second two are from within neovim. Not sure how they implement it, but could be us

[2022-01-05 19:43] AckslD commented on #38
Interesting, thanks for sharing @ZacharyRizer

[2022-01-05 19:49] AckslD commented on #38
@ZacharyRizer Does it actually store a history of what was yanked outside neovim? What happens if you copy two different things outside neovim, do you only see the last. Looking at the source code it looks like it only looks up what's currently in eg `"+`.

[2022-01-05 19:57] ZacharyRizer commented on #38
It only takes the most recent yank outside neovim. So if you copy two things it will only show the most recent outside neovim. It also looks like it replaces the most recent yank inside neovim with the yank you just took from outside.

So for instance if I yank two lines in neovim:
![Screen Shot 2022-01-05 at 2 55 31 PM](https://user-images.githubusercontent.com/5158853/148280535-e66d7fd0-9450-433

[2022-01-09 11:42] AckslD opened #40 "Organise history of macros"
It would be good to for example be able to name or add tags to recorded macros to make them easier to search.

See [this thread](https://www.reddit.com/r/neovim/comments/rrz8bt/comment/hqj9l5o/?utm_source=share&utm_medium=web2x&context=3) for more discussion and suggestions.

[2022-01-13 18:13] AckslD commented on #32
Thanks for reporting this @ranebrown! Although I'm not sure why this would be the case. But I probably never noticed cause I have neoclip load directly but I lazy load telescope so for me that's always after.

[2022-01-24 15:59] marcelarie commented on #31
this does the job for me:
`nnoremap <expr> dd (getline('.') =~ '^\s*$' && v:register == '"' ? '"_' : '').'dd'`

[2022-02-02 16:47] throwaway69420-69420 opened #43 "I need help, cannot see history in :Telescope neoclip"
I cannot see history in :Telescope neoclip even after yanking some lines
here is my telescope.lua config

https://gist.github.com/throwaway69420-69420/5a5b41b9102b4a2277f385596e3fb085

I am using packer.nvim btw

[2022-02-02 21:58] AckslD commented on #43
Hi @throwaway69420-69420, are you calling
[code]
in your setup?

[2022-02-03 03:35] throwaway69420-69420 commented on #43
@AckslD
nope, where do I need to add this in
`  use { "AckslD/nvim-neoclip.lua",  -- for neovim clipboard history
  requires = {
     {'nvim-telescope/telescope.nvim'},
    },
  }
`
can you please give me the edited part of the code?

[2022-02-03 03:45] throwaway69420-69420 commented on #43
update: I added the line in the plugins.lua and it works now

thanks for the help

[2022-02-03 04:19] throwaway69420-69420 commented on #43
btw I am new at using plugins
what does
`require('neoclip').setup()`
do?

[2022-02-03 07:31] AckslD commented on #43
Good that it works now :)

Most plugins written in lua have a `setup` function you need to call to initialize the plugin. This usually sets any needed keybindings/autocmds etc and acts much like vimscript files in a `plugin` folder, but gives more freedom to the user to choose when to initialize the plugin. Useful if you want to fo example lazy load plugins.

In the case of `neoclip` the `setup` s

[2022-02-03 07:31] #43 closed

[2022-02-03 08:03] throwaway69420-69420 commented on #43
thanks :)

[2022-02-03 12:45] pjcj opened #44 "Spelling of enable_persistant_history"
I suppose that `enable_persistant_history` should really be spelt `enable_persistent_history`.

Not a big deal but it shows up as a spelling mistake in my config file :)

[2022-02-05 11:16] AckslD commented on #44
Woops haha, thanks for reporting this. I opened #45 as a fix. `enable_persistant_history` is still supported but gives a warning cause I didn't want to break things for others due to this spelling mistake :)

[2022-02-05 11:45] AckslD commented on #31
@mystilleef I haven't gotten the time to implement this yet. Avoiding duplicates takes some reorganising of the current code. Anyway to at least not store pure whitespace yanks you can add the following to your config:
[code]

[2022-02-05 19:29] yanzhang0219 opened #46 "Ignore vim-surround"
Was looking for such a plugin for managing clipboard and finally I found this. Thank you.

I am using `vim-surround` as well and I noticed that the deleted surroundings such as `" "`, `' '`, etc are caught by this plugin. I believe this is meaningless. Take `"Hello World"` as an example, I place the cursor anywhere inside the double quotes and then I press `cs"'` to change the surroundings from do

[2022-02-05 19:39] AckslD commented on #46
Hi @yanzhang0219, happy you like it :)

Maybe a `filter` could be used for this. Although I'm not sure exactly how `vim-surround` performs the change. Could you add a `filter` just to print what the yank action is:
[code]
Then perform the action and see what `:messages` says.

Btw, I'm using [vim-sandwich](https://github.com/machakann/vim-sandwich) and if I do `sr'"` I don't get any additional ent

[2022-02-05 21:17] yanzhang0219 commented on #46
Okay. Thanks. I also noticed that not only the surroundings are stored, but the surrounded text is stored as well. That means, once I execute `cs"'`, two entries are stored. One is `Hello World` and the other is `" "`. I think the `filter` may be not applicable because text surrounded by some characters is very general. If I rule out all the text with surroundings to avoid it being stored by `vim-

[2022-02-05 21:18] yanzhang0219 commented on #40
Exactly. The macro history is very hard to read.

[2022-02-05 22:26] AckslD commented on #46
@yanzhang0219 Another option would be to execute the `vim-surround` commands using `:noautocmd` such that `TextYankPost` is not triggered and the entry it not stored.

Alternatively you could wrap the call with a `require('neoclip').stop()/require('neoclip').start()`.

Unfortunately, the data passed to the `filter` is all the information we can know in the `autocmd` of `TextYankPost`, so there is

[2022-02-05 22:30] AckslD commented on #46
Btw, as for you question on the `vim-surround` issue above, from the `:messages` you have above you can see that the operator is actually `d`. So `vim-surround` is deleting things during it's command and not actually yanking (`y`). Which to be fair I wouldn't say is nothing wrong in itself :)

Anyway, I've been pretty happy with `vim-sandwich` for a while and can recommend it.

[2022-02-05 23:19] yanzhang0219 commented on #46
Thank you so much for the information.

Exactly. Sorry I overlooked that. Just now I went through the source code of `vim-surround` and I saw that it uses `d` operator with the default register. I've already changed the `vim-surround` issue I opened to see whether the blackhole register could be used instead of the default register.

I will definitely give it a shot. Thank you.

[2022-02-05 23:24] yanzhang0219 opened #47 "[Feature request] operator filter"
Sometimes we only care about the contents yanked by parts of the operators. For example, I just want to record all the contents yanked by `y`, and ignore the contents yanked by `d`, `c`, etc. Is it possible to have a variable in the config to maintain the operator list like `operator_filter = { 'y' }`.

Thank you very much.

[2022-02-05 23:32] AckslD commented on #47
You should already be able to do this with the current filter, for example by
[code]

[2022-02-06 05:36] yanzhang0219 commented on #46
Hello @AckslD, after using this plugin for a while, I have some comments and I will write it down here instead of opening a new issue because they are related. Thank you.

I found many plugins internally use `d`, `c` or `y` together with the default register to implement its features. This causes many useless texts are listed. For example, `LuaSnip` removes the placeholder by `c`, so if a snippet

[2022-02-06 08:13] AckslD commented on #46
@yanzhang0219 Hmm I see, I will try to think of there is a good solution here. Let me know if you have some ideas.

[2022-02-06 09:38] AckslD commented on #46
Btw, have you found any plugins using `y` or would restricting to only such yanks work for you? Ie using #47.

[2022-02-06 09:39] AckslD commented on #46
Actually, I just realised that another plugin of mine for example uses `y` :)

https://github.com/AckslD/nvim-revJ.lua

[2022-02-06 15:22] yanzhang0219 commented on #46
No idea so far. 😮‍💨 If only they use the blackhole register instead of the default one.

Is it possible to distinguish whether the operators are directly from the keystroke (by an event)? Actually we only care about the contents yanked directly by our own keystroke. Plugins internally use these operators by `exec` or something like that, and they are not from the actual keystrokes.

[2022-02-07 11:20] #44 closed

[2022-02-07 11:30] pjcj commented on #44
Thank you!

[2022-02-07 16:28] mystilleef commented on #31
Thanks for that.

[2022-02-09 06:25] desdic opened #48 "Error running Telescope neoclip unnamed"
When running `:Telescope neoclip unnamed` I get this error
[code]

running `:Telescope neoclip` seems to work .. so it seems that I get this error because there is no lines yanked in 'unnamed'

Also :Telescope neoclip only works after the :Telescope neoclip unnamed failed

[2022-02-09 06:30] desdic commented on #48
Also `:Telescope neoclip` only works after the `:Telescope neoclip unnamed` failed

[2022-02-09 21:51] AckslD commented on #48
Thanks for reporting this @desdic, this was indeed a bug and should be fixed by #49.

I'm working on adding more tests to this plugin which will hopefully makes this less likely to happen in the future :)

[2022-02-09 21:51] #48 closed

[2022-02-10 10:27] AckslD commented on #46
@yanzhang0219, I'm not sure if that's possible unfortunately :/

[2022-02-17 23:14] nzbart opened #50 "Use cross-platform function for mkdir"
Thanks for this great plugin!

I use neoclip on Windows and Linux, and notice that the mkdir command used here doesn't work correctly on Windows, creating a directory called `-p` as well as throwing up an error message.

https://github.com/AckslD/nvim-neoclip.lua/blob/6e5d6dbf242c3c3fd55a3521368808490a86ce62/lua/neoclip/db.lua#L17

Would it be possible to use the built-in Neovim function instead?

[2022-02-18 16:58] AckslD commented on #50
Oh right! Thanks for raising this and also providing the solution :)

Would you mind trying out #51 and see if it works for you? I don't have access to windows

[2022-02-19 19:20] AckslD commented on #30
@sphynx79 This is now implemented in #54 which I'll probably merge in a few days :)

[2022-02-19 19:22] AckslD commented on #31
@mystilleef This is now implemented in #54 and I'll merge it probably in a few days to leave some room for trying it out. Feel free to give it a shot and see if it works as intended for you.

I made pretty big refactor of the underlying data structure storing the yanked entries and wrote a bit of a summary here if you're interested :):
https://www.reddit.com/r/neovim/comments/swhmpm/neoclip_update

[2022-02-19 23:49] mystilleef commented on #31
Lovely, I'll try it tonight.

[2022-02-20 01:17] mystilleef commented on #31
Does this mean I can remove the `is_whitespace` filter from my config?

[2022-02-20 08:44] AckslD commented on #31
No, this just avoids identical duplicate entries. And adds possibility to delete individual ones manually.

Since it is quite easy to add the filter I thought I keep it like this, maybe someone wants the whitespace yanks :)

[2022-02-20 21:03] #50 closed

[2022-02-21 08:14] nzbart commented on #50
@AckslD thanks for fixing this so promptly!

[2022-02-22 15:07] #30 closed

[2022-02-22 15:08] #31 closed

[2022-03-03 10:35] marcomayer opened #55 "Config parameter to set max_size of clipboard entry"
When using permanent storage and having lots of data in the clipboard, sqlite gets into trouble and exiting nvim takes forever. Sometimes when editing huge files this is unwanted, and so it would be nice to have a config parameter like max_size that limits the maximum number of bytes to be stored, everything else gets truncated.

[2022-03-03 10:53] AckslD commented on #55
That makes sense @marcomayer! Two questions:
1. Would you say that entries which are bigger than `max_size` are simply ignored or truncated? To me it seems better to simply ignore the whole entry since would you ever actually want to later use a truncated entry?
2. Do you just want to limit what is written to the database or also what's stored in the history in the current session?

Depending on t

[2022-03-07 09:47] marcomayer commented on #55
Thanks for your response @AckslD!

Like you said just filtering out entries that are larger than N chars does the job. The issue really is around the permanent storage, so that would be a good solution.

[2022-03-09 10:50] AckslD commented on #55
Cool @marcomayer, do I understand you correctly that the filtering solution if sufficient for you? Since it also then filters out what's get stored in the permanent storage.

[2022-03-09 13:07] marcomayer commented on #55
Yup, thanks!

[2022-03-09 13:07] #55 closed

[2022-04-13 09:59] cinuor opened #57 "system clipboard support"
yank in nvim works perfect, but the content copied from system to the register `*` and `+` does not show in telescope

 this my config for clipboard-provider
[code]

[code]
`clipboard-provider copy` will send content to all the copy tools, such as `pbcopy`, `xclip`
`clipboard-provider paste` will paste content and return as long as the one of the tools works.

right now, nvim to system works fine,

[2022-04-14 10:35] #57 closed

[2022-04-21 02:44] ouuan opened #59 "Prevent storing entries that are too long"
After I deleted all contents in a binary file with a size of ~10MB with `enable_persistent_history` enabled, neoclip hung when I entered nvim again. Maybe I shouldn't do this (deleting all contents in a binary file) in nvim, but I think we can add a length threshold to prevent this happening.

[2022-04-21 06:14] AckslD commented on #59
Hi @ouuan, you an use the filter setting for this, see #55 :)

[2022-04-21 06:21] ouuan commented on #59
Sorry, I forgot to search for existing issues. But I think there should be a default length limit. Maybe I can try submitting a PR later.

[2022-04-21 08:02] AckslD commented on #59
No problem, feel free to submit a PR, seems fine to me to have a default limit as long as it can be changed by a user :+1:

[2022-05-07 12:17] drybalka opened #64 "Telescope which_key shows <anonymous> instead of action"
Telescope has a useful feature to show mappings on <?> or <C-/> (internally called telescope.actions.which_key). However, for neoclip it shows <anonymous> instead of actions (for example, paste or paste_previous) and prints an error "No name available for anonymous functions". It would be great if this worked as intended.

[2022-05-10 09:37] AckslD commented on #64
Sounds good @drybalka! Do you know how to set those names or where that is documented :)

[2022-05-10 13:23] drybalka opened #66 "Allow disabling of mappings"
It will be convenient (for me, at least), if I could opt-out from assigning a keymap to actions and therefore disable them. In original telescope, if I am not mistaken, this is done by simply providing `false` as a keymap.

[2022-05-10 15:21] AckslD commented on #64
Oh it uses the name of the function? That's a bit weird, do you know if it's possible to provide an explicit separate name for it instead? I think the code is a bit cleaner without assigning the functions to variables.

Thanks for the PR!

[2022-05-11 14:37] AckslD commented on #66
Sounds good @drybalka! Feel free to submit a PR :)

[2022-05-11 14:50] drybalka commented on #64
Works for me, and the code is indeed cleaner this way =) Thanks!

[2022-05-11 18:36] AckslD commented on #64
Thanks for checking, I made another change cause I realised that the keybinds were actually not working. Instead I made them now a metatable which seems to work for both the action and the names.

[2022-05-11 18:36] #64 closed

[2022-06-10 17:04] lukoshkin commented on #47
Is there a way to filter out 'x' presses and keep yanked text with 'd'? Since 'x' presses fall under 'd' category according to `print(data.event.operator)`

[2022-06-10 17:42] lukoshkin commented on #47
Ok, I solved the history of yanks cluttering problem by introducing this filter:

[code]

One can also strip the unnamed register content of  whitespace chars, but for now I decided to stick with this version

[2022-06-10 20:57] AckslD commented on #47
Nice @lukoshkin, you could also get the yanked content from `data.event.regcontent` where `data` is passed to the filter (untested, on my phone :))

[2022-06-12 15:35] lukoshkin opened #68 "Bind two different keystrokes to one action"
Can we have key-mapping like in telescope.nvim? So that one action could be possible to do in different ways. Particularly, I'm interested in mapping `<CR>` to `paste` without overwriting `<C-p>`

[2022-06-24 16:44] lukoshkin commented on #68
Thank you @AckslD for you reply. I am a bit busy right now, but I think I will take a closer look at your code soon. And if it is possible (in general and particularly for me) to reframe the settings customization in a backward-compatible way, I will prepare a PR

[2022-07-11 10:01] yyy33 opened #71 "Conflict of content_spec_column option"
![2022-07-11_17-58_1](https://user-images.githubusercontent.com/51548147/178239844-8caa7161-0525-4e68-917b-3ee4239957aa.png)

Conflict with telescope's path_display option
[code]

[2022-07-11 10:29] AckslD commented on #71
Sorry, I never used `path_display`, what are you using it for and how do you expect the picker to look like?

[2022-07-12 11:21] lukoshkin commented on #68
Hey, @AckslD! I've got back to the issue recently and discovered that I am pretty satisfied with the default mapping for `<CR>`. Therefore, I don't have to map two keys to one action. However, it is not difficult to adjust the functionality to allow this feature. I tried the following and it worked for me:

**lua/neoclip/settings.lua**
[code]

**lua/neoclip/telescope.lua**
[code]

After these smal

[2022-07-12 18:10] yyy33 commented on #71
like this
![Screenshot_2022-07-13-02-09-23-602](https://user-images.githubusercontent.com/51548147/178563520-e038877f-b1ad-4cbd-9fee-6e3bb8f6577b.jpeg)

[2022-08-02 07:08] lars-vc opened #74 "Start neoclip in normal mode"
I had this binding and this used to start neoclip in normal mode, I don't really have a usecase for insert mode for neoclip since I never want to search in my clipboard history. But a bit ago this binding broke and it always starts in insert mode now. Is there any way to fix this?
`nnoremap <leader>fn <cmd>Telescope neoclip plus<cr><Esc>`

[2022-08-02 07:44] AckslD commented on #74
Hi @lars-vc! Is this the case only for the `neoclip` extension only or for all of `Telescope`?

[2022-08-02 07:45] AckslD commented on #74
Also, when you say the binding broke, does it just not do anything or is there an error?

[2022-08-02 07:48] AckslD commented on #74
This is probably related to the fact that telescope starts asynchronously. I had a similar issue when writing the tests where I had to but a small sleep between starting telescope and performing any key-presses. See for example:
https://github.com/AckslD/nvim-neoclip.lua/blob/5520ad7b24b0c4bc0b5371eef2492e787aa59a3a/tests/plenary/neoclip_spec.lua#L317

[2022-08-02 07:51] AckslD commented on #74
Possibly related https://github.com/nvim-telescope/telescope.nvim/issues/1939

[2022-08-02 08:34] lars-vc commented on #74
Hi, thanks for the quick reply! It appears this is indeed the case for all of telescopes pickers (this is the only one I needed normal mode for) and ye there is no error, the escape just doesn't get executed in the picker. Ill look at the resources you provided and report back!

[2022-08-15 20:37] magidc opened #75 "Ignoring default_register setting"
Hi. I am trying to config neoclip to use register "+" as default. I am doing this because this is my default  for paste function as I want to be integrated with systems clipboard.
In spite of setting neoclip config as " default_register = '+'", when selecting a new item from Telescope, the selection is still loaded into " register.

[2022-08-16 06:53] AckslD commented on #75
Hi @magidc, this does work for me, could you share your config and how you call neoclip.

[2022-08-16 08:17] magidc commented on #75
Here is my neovim [config](https://github.com/magidc/nvim-config).
I call `Telescope neoclip` and select the item, but the item is not loaded to default register "+" (see my neoclip [config](https://github.com/magidc/nvim-config/blob/master/lua/plugins/configs/neoclip.lua))

[2022-08-16 08:21] AckslD commented on #75
Hmm, what does the telescope prompt say? Does it say:
[code]
or
[code]
?

Also does `Telescope neoclip plus`/`Telescope neoclip default`/`Telescope neoclip unnamed` work as expected?

[2022-08-16 08:27] magidc commented on #75
Good one!
`Telescope neoclip` says `Pick new entry for registers "`, however if I open it as `Telescope neoclip plus`, all works as I required. This solves my problem but still, if I open telescope without an specific register, shouldn't use the one that was set by default in the configuration?

[2022-08-16 08:28] magidc commented on #75
By the way, `Telescope neoclip default` still show `Pick new entry for registers "`

[2022-08-16 09:10] magidc commented on #75
Hi, I have eventually solve the issue. It was a race condition.
I was loading telescope extension from telescope's config file. This process happens before neoclip setups with my custom config. In the end, the extension loaded in telescope is the one with default configs

[2022-08-16 09:15] AckslD commented on #75
I see, good that you found what was happening :) I'll close this then

[2022-08-16 09:15] #75 closed

[2022-08-16 09:28] magidc commented on #75
Vielen dank!!

[2022-08-16 10:03] AckslD commented on #75
Are you german hehe? I'm not btw 🙃🇸🇪

[2022-08-16 10:10] magidc commented on #75
Oh, sorry. For some reason I though you were German, I am Spanish :laughing:
Tack!!

[2022-08-23 08:24] lars-vc commented on #74
Mmmh, so it seems this can't be solved using what telescope provides, since the default settings don't apply to extensions. For example, setting a different layout_strategy for neoclip is also impossible. So using the `on_complete` is impossible. Telescope now also has an option called `initial_mode` to set the initial mode, but once again this only works for the default pickers. So I think someth

[2022-08-23 09:58] AckslD commented on #74
Hmm I see, I'm not really an expert on telescope extensions so maybe I implemented something wrong :)

[2022-08-26 03:49] gabrielflorit commented on #74
I love this plugin and would definitely like seeing an option to start it in normal mode.

[2022-09-03 03:49] mystilleef commented on #32
@ranebrown Thank you. `after` fixed the persistent issue for me.

[2022-09-07 22:17] CharlesARoy opened #77 "Issues Enabling Persistent History and Continuous Sync"
I'm trying to install sqlite.lua to enable persistent history in [nvim-neoclip.lua](https://github.com/AckslD/nvim-neoclip.lua) but I'm having a hard time getting going.

I'm working on a machine running Ubuntu 20.04.4 LTS. From the Installation instructions, I should install sqlite3 and libsqlite3-dev with a command like: sudo apt-get install sqlite3 libsqlite3-dev; however, unfortunately, I don'

[2022-09-08 06:25] AckslD commented on #77
It looks indeed like the error is for the missing libsqlite shared library (libsqlite3.so). Unfortunately I don't know how to install it without root.

[2022-09-17 18:17] barrett-ruth opened #78 "FZF picker broken"
`nvim --version`:
NVIM v0.8.0-dev-1092-g89b9eab63

Configuration:
[code]
It seems to me that with the newest fzf-lua updates nvim-neoclip is not compatible. Attempting to run:
[code]

Yields
E5108: Error executing lua ...ite/pack/paqs/start/nvim-neoclip.lua/lua/neoclip/fzf.lua
:127: ...e/nvim/site/pack/paqs/start/fzf-lua/lua/fzf-lua/core.lua:111: attempt to inde
x local 'opts' (a function value)
s

[2022-09-18 12:18] AckslD commented on #78
Thanks for reporting! Do you know if there were any breaking changes lately in fzf-lua?

[2022-09-20 19:12] ibhagwan commented on #78
#79 should fix this.

[2022-09-20 20:26] #78 closed

[2022-09-22 07:56] abidibo opened #80 "fzf-lua list not updating after first open"
Hi,
this is my problem:
- start neovim
- yank stuff
- launch `lua require('neoclip.fzf')()`
- I can see yanked stuff
- close the fzf-lua preview window
- yank other stuff
- launch `lua require('neoclip.fzf')()`
- only the previous yanked items are present, the list is not updated

If I run `print(vim.inspect(require('neoclip.storage').get()))` I can see al updated entries.

My config:

[code]

I'v

[2022-09-22 11:04] AckslD commented on #80
Thanks for reporting! Maybe @ibhagwan might directly know what is going on here? I'm soon travelling so not sure I'll be able to try this myself in the near term unfortunately.

[2022-09-22 20:53] ibhagwan commented on #80
@abidibo, https://github.com/AckslD/nvim-neoclip.lua/pull/81 should solve it, before this gets merged you can try it using [my fork](https://github.com/ibhagwan/nvim-neoclip.lua).

@AckslD, few notes:
- Not sure how this worked before as the call to `require('neoclip.storage').get().yanks` was done once at the top of the file, perhaps in the past yanks was a reference that didn't change but this n

[2022-09-23 00:48] benwoodward opened #82 "I cannot get custom key mappings to work"
Here are my configs:
packages.lua:
https://github.com/benwoodward/dotfiles/blob/db098978c7450be3f8aa2bb633fcf8a16d2cfcd5/.config/nvim/lua/plugins/packages.lua#L111
telescope settings:
https://github.com/benwoodward/dotfiles/blob/db098978c7450be3f8aa2bb633fcf8a16d2cfcd5/.config/nvim/lua/plugins/telescope.lua

By moving `nvim-neoclip` into the `required =` section of `telescope` in `packages.lua` I

[2022-09-23 01:18] #82 closed

[2022-09-23 06:11] AckslD commented on #82
Not sure what the issue was but happy it works now 👍

[2022-09-23 06:52] abidibo commented on #80
@AckslD, @ibhagwan thank you very much. I can confirm the fork is working properly. I wont close the issue sicne you probably will do it after merging.

[2022-09-23 07:11] #80 closed

[2022-09-24 00:31] barrett-ruth opened #83 "Allow fzf-lua prompt variable"
Minor nitpick, but after the recent fix with fzf-lua, I am stuck with a prompt of "Prompt" plus an icon my font cannot render.

Both telescope and fzf-lua allow setting this variable so if you could somehow pass in opts to `require('neoclip').setup()` that would be nice.

[2022-09-24 09:48] AckslD commented on #83
Sounds good @barrett-ruth! I'm travelling at the moment so won't implement this but feel free to submit a PR :)

[2022-09-26 06:26] benwoodward opened #85 "[feature request]: move yanked text to bottom of list on paste"
It'd be great if there was an option to move a yank back to the most recent position in the list on paste.

Here's the same feature in Alfred:

<img width="570" alt="image" src="https://user-images.githubusercontent.com/1472981/192207282-6416aca3-85b4-4cee-88a6-762d42ef37ba.png">

and in Raycast:

<img width="312" alt="image" src="https://user-images.githubusercontent.com/1472981/192207436-e430503

[2022-09-27 06:13] benwoodward commented on #85
could you give me some pointers on how to approach that? might give it a go.

[2022-09-28 17:05] AckslD commented on #85
I'm at the moment travelling but could give you some pointers if you still need them when I'm back :)

[2022-10-10 11:48] AckslD commented on #85
Maybe a good starting point is to take a look at how the deletion of an entry is handled:

https://github.com/AckslD/nvim-neoclip.lua/blob/73fd2494b181cdad5dca2be23bfefd6e34621fd2/lua/neoclip/telescope.lua#L193

[2022-10-13 15:40] #83 closed

[2022-10-31 12:41] khalidchawtany opened #86 "How to put like nvim-miniyank"
I migrated from nvim-miniyank. When using the previous plugin I could yank 3 times and press p multiple times to cycle through pasted text. I have no idea how to achieve it using neoclip.

[2022-10-31 12:46] AckslD commented on #86
If you open the telescope picker you can paste with `<C-p>` in insert mode or `p` in normal mode by default. Is that what you were looking for?

[2022-10-31 13:01] khalidchawtany commented on #86
I want to make p paste the last yanked text and if I press p again, it should replace the pasted text with the previous yanked text. Like a ring

[2022-10-31 13:17] AckslD commented on #86
I see, that's currently not a feature of neoclip but happy to receive a PR :)

[2022-10-31 13:52] AckslD commented on #86
No problem, I'll keep it open if someone is looking for the same feature and/or feels like implementing it.

[2022-11-20 01:10] zakpaw commented on #74
I think I found a good solution!
[code]
Added in this issue: https://github.com/nvim-telescope/telescope.nvim/issues/409

[2022-11-20 11:43] lars-vc commented on #74
Have you found a way to get it working using this? I experimented with this when I created the issue and couldn't get it to work (can't get it to work rn either)

[2022-11-20 12:52] zakpaw commented on #74
I binded this command with another flag `theme=dropdown` to a key and everything works as intended - neoclip opens in normal mode. Maybe try updating?

[2022-11-21 12:30] lars-vc commented on #74
Could you share the whole command? Because I get this
![image](https://user-images.githubusercontent.com/57136208/203055696-7d8ee53f-fd60-496e-9443-b7e817b67ce6.png)
![image](https://user-images.githubusercontent.com/57136208/203055715-611ee216-4c9e-421d-b408-072cd584b6d9.png)
And everything is updated

[2022-11-21 13:14] zakpaw commented on #74
Here: `:Telescope neoclip plus theme=dropdown initial_mode=normal`

Does `:Telescope neoclip` work at all for you? The error would suggest that you didn't install neoclip or didn't add it as telescope extension.

[2022-11-21 14:12] jvcarli opened #87 "All registers show the same text when using Telescope neoclip <reg>"
Hi, I'm trying to use your plugin but all registers show the same text when using `Telescope neoclip <reg>.`

e.g.: Yank using `y` and then using `:Telescope neoclip a` shows what I've just yanked and should be available only on unnamed register.

e.g.: Yank using `"ay` and then using `:Telescope neoclip unnamed` shows what I've yanked into `a` register.

I've tested it using a minimal_init.lua, t

[2022-11-21 14:23] lars-vc commented on #74
I swear to god it just magically works now????? Im just gonna accept it ig

[2022-11-21 14:24] zakpaw commented on #74
Glad I could help :)

[2022-11-21 14:26] #74 closed

[2022-11-21 17:15] AckslD commented on #74
Thanks both and happy to see that it is working :)

[2022-11-22 10:50] jvcarli commented on #87
@AckslD Thank you for the quick reply! I misunderstood the plugin behavior, everything is working as expected.

[2022-11-22 10:50] #87 closed

[2022-11-29 13:40] kohane27 commented on #86
Seems like https://github.com/gbprod/yanky.nvim#%EF%B8%8F-yank-ring could be sth you're looking for